* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  box-shadow: none; }
body{-webkit-text-size-adjust:none; font-size:14px;}

a{ text-decoration:none}

li{ list-style:none}



/*-----------------共用------------*/
.space1{ overflow:hidden; clear:both; height:10px; width:100%}
.space2{ overflow:hidden; clear:both; height:20px; width:100%}
.space3{ overflow:hidden; clear:both; height:30px; width:100%}
.space4{ overflow:hidden; clear:both; height:40px; width:100%}
.space_kong{ overflow:hidden; clear:both; height:120px; width:100%}
.space_kong1{ overflow:hidden; clear:both; height:88px; width:100%}

@media only screen and (max-width:1200px) {
.space_kong1{ overflow:hidden; clear:both; height:66px; width:100%}
}

@media only screen and (max-width:1050px) {
.space_kong{ overflow:hidden; clear:both; height:80px; width:100%}
.space_kong1{ overflow:hidden; clear:both; height:60px; width:100%}


.space2{ overflow:hidden; clear:both; height:10px; width:100%}
.space3{ overflow:hidden; clear:both; height:10px; width:100%}
.space4{ overflow:hidden; clear:both; height:20px; width:100%}
}

.kong_bg{width:100%; padding:80px 0px 80px 0px; overflow:hidden; }
.hui_bg{ width:100%; padding:40px 0px 80px 0px; overflow:hidden; }
.bai_bg{ background:#ffffff; width:100%; padding:80px 0px 80px 0px; overflow:hidden; }

@media only screen and (max-width:1400px) {
.hui_bg{ width:100%; padding:20px 0px 60px 0px; overflow:hidden;}
.bai_bg{ background:#ffffff; width:100%; padding:60px 0px 60px 0px; overflow:hidden; }

.kong_bg{width:100%; padding:40px 0px 40px 0px; overflow:hidden; }
}

@media only screen and (max-width:1050px) {
.hui_bg{width:100%; padding:10px 0px 30px 0px; overflow:hidden;}
.bai_bg{ background:#ffffff; width:100%; padding:30px 0px 30px 0px; overflow:hidden; }
.kong_bg{width:100%; padding:30px 0px 30px 0px; overflow:hidden; }
}



.main_box{ height:auto; max-width:1300px; width:94%; margin:0 auto; overflow: hidden}

.main_box1{ height:auto; max-width:1200px; width:94%; margin:0 auto; overflow: hidden}
.main_box2{ height:auto; max-width:1220px; width:94%; margin:0 auto; overflow: hidden}



.bg-1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:0px;
    width: 1920px;
    /* min-width: 100%; */
    z-index: -1;
}
.bg-2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6%;
    width: 1920px;
    z-index: -1;
}



.yt_top_k{width:100%; position: relative; overflow:hidden; padding:15px 0px}
.yt_top_logo1{overflow:hidden; margin:0px; padding:0px;width:auto;}
.yt_top_logo1 img{ width:auto; height:auto; vertical-align:top}

@media only screen and (max-width:1050px) {
.yt_top_logo1 img{ height:46px; width:auto}
}

/*------------2021-6---------*/
.yunti_bg1{background:url(../img/index-bg1.png) no-repeat center top,url(../img/index-bg2.png) no-repeat center bottom}
.yunti_main_txt_k{ overflow:hidden; padding:0px; margin-top:6%; margin-bottom:4%}
.yunti_main_txt_k dl{ overflow:hidden; margin:0; padding:0px;}
.yunti_main_txt_k dl dt{ overflow:hidden; margin:0; padding:0px; font-size:70px; color:#FFFFFF; line-height:170%; font-weight:400; margin-bottom:2%}
.yunti_main_txt_k dl dd{ overflow:hidden; margin:0; padding:0px; font-size:18px; color:#FFFFFF; line-height:26px;}


.pc_down_k{height:auto; margin:0px; padding:0px;max-width:1300px; width:94%; margin:0 auto; overflow:hidden;margin-bottom:60px}
.pc_down_k ul{ margin:0px; padding:0px; max-width:700px;}
.pc_down_k ul li{ float:left; margin:0px; padding:0px; width:20%; }
.pc_down_an{max-width:140px;width:92%; height:40px; border-radius:40px; text-align:center; line-height:40px; font-size:14px;box-shadow:0 0 15px 1px rgba(0,0,0,.1); background:#fff; float:left}
.pc_down_k ul li a{ display:inline; text-decoration:none}
.pc_down_an i{ font-size:20px; margin-right:4px; height:34px;}

.pc_down_k ul li:hover .pc_down_an{ background:#05b5ff; color:#FFFFFF}



.yt_big_bt_box{ overflow:hidden; margin:0px; padding:10% 0px 2% 0px}
.yt_big_bt_txt1{ font-size:45px; line-height:170%; text-align:center; color:#FFFFFF; margin-bottom:10px; font-weight:600}
.yt_big_bt_txt2{ font-size:18px; line-height:26px; text-align:center; color:#93a4bd }

.yt_big_bt_txt3{ font-size:45px; line-height:170%; text-align:center; color:#fff; margin-bottom:10px; font-weight:600}


@media only screen and (max-width:820px) {
.yt_big_bt_box{ overflow:hidden; margin:0px; padding:4% 0px 2% 0px}
}
@media only screen and (max-width:620px) {
.yt_big_bt_box{ overflow:hidden; margin:0px; padding:0% 0px 2% 0px}
}


@media only screen and (max-width:1300px) {
.yunti_bg1{background:url(../img/index-bg1.png) no-repeat top center,url(../img/index-bg2.png) no-repeat center bottom; background-size:100% auto}
.yt_big_bt_txt3{ color:#000000}
}

@media only screen and (max-width:1250px) {
.yunti_main_txt_k dl dt{ font-size:60px;}
.yunti_main_txt_k dl dd{ font-size:16px;}

.yt_big_bt_txt1{ font-size:42px; }
.yt_big_bt_txt2{ font-size:16px; }
.yt_big_bt_txt3{ font-size:42px; }
}

@media only screen and (max-width:1050px) {
.pc_down_k{ display:none}
}

@media only screen and (max-width:1000px) {
.yunti_main_txt_k dl dt{ font-size:50px; margin-bottom:1.5%}

.yt_big_bt_txt1{ font-size:30px; }
.yt_big_bt_txt3{ font-size:30px; }
}
@media only screen and (max-width:650px) {
.yunti_main_txt_k dl dt{ font-size:40px; margin-bottom:1.5%}

.yt_big_bt_txt1{ font-size:25px; margin-bottom:5px }
.yt_big_bt_txt3{ font-size:25px; margin-bottom:5px }
.yunti_bg1{background:url(../img/index-bg1.png) no-repeat top right,url(../img/index-bg2.png) no-repeat center bottom; background-size:130% auto}

}

@media only screen and (max-width:450px) {
.yunti_main_txt_k dl dt{ font-size:30px; margin-bottom:1.5%; text-align:center}
.yunti_main_txt_k dl dd{ font-size:14px; padding:0px 20px; line-height:22px}
.yt_top_logo1{ text-align:center}
.yt_top_logo1 a{ display:inline}

.yt_big_bt_txt2{ font-size:14px;line-height:22px}

.yunti_bg1{background:url(../img/index-bg1.png) no-repeat top center,url(../img/index-bg2.png) no-repeat center bottom; background-size:150% auto}

}

@media only screen and (max-width:400px) {
.yunti_bg1{background:url(../img/index-bg1.png) no-repeat top center,url(../img/index-bg2.png) no-repeat center bottom; background-size:180% auto}

}



.jjbnt{ overflow:hidden; margin:0px; padding:0px}
.jjbnt li{ overflow:hidden; margin:0px; padding:0px; float:left; width:48%; padding:50px 10px; background:#fff; margin-left:1%; margin-right:1%; margin-bottom:3%;box-shadow:0 0 10px 1px rgba(0,0,0,.1); border-radius:5px}
.jjbnt li dl{ overflow:hidden; margin:0px; padding:0px;}
.jjbnt li dl dt{ overflow:hidden; margin:0px; padding:0px; font-size:20px; color:#000; margin-bottom:5px; line-height:30px; font-weight:700}
.jjbnt li dl dd{ overflow:hidden; margin:0px; padding:0px;font-size:16px; color:#666; line-height:24px;}

.jjbnt_tu1{ float:left; margin-right:12px; overflow:hidden; margin-top:-4px}
.jjbnt_tu1 img{ width:95px; height:95px; vertical-align:top}

.jjbnt li:hover dl dt{ color:#0acbc4}
.jjbnt li:hover dl dd{ color:#444}
.jjbnt li:hover .jjbnt_tu1 img{animation: tada 2s infinite;}


@media screen and (max-width:1400px) {
.jjbnt li dl dd{ overflow:hidden; margin:0px; padding:0px;font-size:14px; color:#888; line-height:22px; min-height:66px}
.jjbnt li{  padding:30px 10px; }
}


@media screen and (max-width:1090px) {
.jjbnt li dl dt{ overflow:hidden; margin:0px; padding:0px; font-size:16px;}
.jjbnt li dl dd{ overflow:hidden; margin:0px; padding:0px;font-size:14px; color:#888; line-height:20px; min-height:60px}

.jjbnt li{  padding:20px 10px;}
}

@media screen and (max-width:1000px) {
.jjbnt_tu1 img{ width:60px; height:60px; vertical-align:top; margin-top:0px}

}

@media screen and (max-width:900px) {
.jjbnt li{ overflow:hidden; margin:0px; padding:0px; float:left; width:48%; padding:20px 10px; background:#fff; margin-left:1%; margin-right:1%; margin-bottom:20px}
.jjbnt li dl dd{ overflow:hidden; margin:0px; padding:0px;font-size:14px; color:#888; line-height:22px; min-height:66px}

}

@media screen and (max-width:760px) {
.jjbnt li dl dd{ overflow:hidden; margin:0px; padding:0px;font-size:12px; color:#888; line-height:20px; min-height:60px}
}
@media screen and (max-width:660px) {
.jjbnt li dl dt{ text-align:left; font-size:18px}

}


@media screen and (max-width:600px) {
.jjbnt li{ overflow:hidden; margin:0px; padding:0px; float:left; width:48%; padding:10px 10px; background:#fff; margin-left:1%; margin-right:1%; margin-bottom:20px}
.jjbnt_tu1{ float: none; margin-right:0px; overflow:hidden; text-align:center}
.jjbnt li dl dt{ text-align:center}
.jjbnt li dl dd{ overflow:hidden; margin:0px; padding:0px;font-size:12px; color:#888; line-height:20px; min-height:60px}
.jjbnt li dl{ overflow:hidden; margin:0px; padding:0px 10px;}
.jjbnt li dl dt{font-size:16px}
}


@media screen and (max-width:480px) {
.jjbnt_tu1{ float:left; margin-right:12px; overflow:hidden; text-align:left}
.jjbnt_tu1 img{ width:70px; height:70px; vertical-align:top}
.jjbnt li dl dt{ text-align:left}
.jjbnt li{ overflow:hidden; margin:0px; padding:0px; float:left; width:98%; padding:10px 10px; background:#fff; margin-left:1%; margin-right:1%; margin-bottom:20px}
.jjbnt li dl dd{ overflow:hidden; margin:0px; padding:0px;font-size:12px; color:#888; line-height:20px; min-height:20px; height:auto}
.jjbnt li dl{ overflow:hidden; margin:0px; padding:0px 0px;}
}










.xy_p3_box{ overflow:hidden; margin:0px; padding:2px 0px}
.xy_p3_L{overflow:hidden; margin:0px; padding:0px; float:left; width:31%}
.xy_p3_M{overflow:hidden; margin:0px; padding:0px; float:left; width:38%}
.xy_p3_R{overflow:hidden; margin:0px; padding:0px; float: right; width:31%}
.xy_p3_M img{ max-width:100%; height:auto; vertical-align:text-top}

.xy_p3_list1{overflow:hidden; margin:0px; padding:0px;}
.xy_p3_list1 li{overflow:hidden; margin:0px; padding:10px 0px;}
.xy_p3_list1 li dl{overflow:hidden; margin:0px; padding:0px; width:86%; text-align:right}
.xy_p3_list1 li dl dt{overflow:hidden; margin:0px; padding:0px; font-size:20px; font-weight:bold; line-height:190%; margin-bottom:5px}
.xy_p3_list1 li dl dd{overflow:hidden; margin:0px; padding:0px; font-size:16px; line-height:190%; color:#666}
.xy_p3_list1 li:nth-child(1){ margin-bottom:30px; margin-top:30px}

.xy_p3_list2{overflow:hidden; margin:0px; padding:0px;}
.xy_p3_list2 li{overflow:hidden; margin:0px; padding:10px 0px;}
.xy_p3_list2 li dl{overflow:hidden; margin:0px; padding:0px;width:86%; float:right; text-align:left}
.xy_p3_list2 li dl dt{overflow:hidden; margin:0px; padding:0px; font-size:20px; font-weight:bold; line-height:190%; margin-bottom:5px}
.xy_p3_list2 li dl dd{overflow:hidden; margin:0px; padding:0px; font-size:16px; line-height:190%; color:#666}
.xy_p3_list2 li:nth-child(1){ margin-bottom:30px; margin-top:30px}

.xy_tu_1{ float:right; width:70px; height:70px; margin:15px 15px;text-align:center;box-shadow:0px 10px 14px 0px rgba(0, 0, 19, 0.06);border-radius: 50%; background:#fff}

.xy_tu_1 i{ font-size:35px; line-height:70px; color:#0066FF}
.xy_tu_1:hover  i{transform:rotate(360deg);transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;}

.xy_tu_2{ float:left; width:70px; height:70px; margin:15px 15px;text-align:center;box-shadow:0px 10px 14px 0px rgba(0, 0, 19, 0.06);border-radius: 50%; background:#fff}

.xy_tu_2 i{ font-size:35px; line-height:70px; color:#0066FF}
.xy_tu_2:hover  i{transform:rotate(360deg);transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;}


@media only screen and (max-width:1150px) {

.xy_p3_list1 li dl{width:92%}
.xy_p3_list2 li dl{width:92%}
.xy_p3_list1 li dl dd{ font-size:14px; line-height:24px}
.xy_p3_list2 li dl dd{ font-size:14px; line-height:24px}
.xy_p3_list1 li:nth-child(1){ margin-bottom:10px; margin-top:10px}
.xy_p3_list2 li:nth-child(1){ margin-bottom:10px; margin-top:10px}
}


@media only screen and (max-width:850px) {
.xy_p3_box{ overflow:hidden; margin:0px; padding:20px 0px}
.xy_p3_L{overflow:hidden; margin:0px; padding:0px; float:left; width:100%}
.xy_p3_M{overflow:hidden; margin:0px; padding:0px; float:left; width:38%; display:none}
.xy_p3_R{overflow:hidden; margin:0px; padding:0px; float: right; width:100%}

.xy_p3_list1 li dl{width:92%;float:none; margin:0 auto;text-align: center; }
.xy_p3_list2 li dl{width:92%; float:none; text-align: center; margin:0 auto}

.xy_p3_list1 li{overflow:hidden; margin:0px; padding:3px 0px; margin-bottom:5px}
.xy_p3_list2 li{overflow:hidden; margin:0px; padding:3px 0px;}
.xy_p3_list1 li:nth-child(1){ margin-bottom:5px; margin-top:0px}
.xy_p3_list2 li:nth-child(1){ margin-bottom:5px; margin-top:0px}

.xy_p3_list1 li dl dt{ margin-bottom:1px}
.xy_p3_list2 li dl dt{ margin-bottom:1px}
.xy_tu_1{ float: none; width:70px; height:70px; margin:0 auto; margin-top:15px; margin-bottom:15px}
.xy_tu_2{ float: none; width:70px; height:70px; margin:0 auto; margin-top:15px; margin-bottom:15px}

.xy_p3_list1 li dl dt{ font-size:18px}
.xy_p3_list2 li dl dt{ font-size:18px}
}






/*------------2021-6--//-------*/























/*-------------index----------*/
.yt_top_bg{background:url(../img/hero.png) no-repeat center top; background-size:100% 100%;min-height:900px; transition: opacity 0.5s; position:relative}



.main_box_ad{overflow: hidden; margin-top:50px;}
.sy_adtxt{ text-align: center; margin:0px; padding:0px;max-width:1300px; width:90%; margin:0 auto;  }
.sy_adtxt img{ max-width:100%; height:auto; vertical-align:middle}




/*-----------------*/
.exclusive-services-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(1);
	z-index: 1;
	-webkit-animation: heartbeat 3s infinite alternate linear;
	animation: heartbeat 3s infinite alternate linear;
}
/* heartbeat frame*/
@-webkit-keyframes heartbeat {
  to {
    -webkit-transform: translate(-50% , -50%) scale(.8);
    transform: translate(-50% , -50%) scale(.8);
  }
}
@keyframes heartbeat {
  to {
    -webkit-transform: translate(-50% , -50%) scale(.8);
    transform: translate(-50% , -50%) scale(.8);
  }
}


.yun-icon {
    position: absolute;
    right: 16%;
    bottom: 40%;
	z-index: 0;
	-webkit-animation: heartbeat 7s infinite alternate linear;
    animation: heartbeat 7s infinite alternate linear;
}

planet-2-area {


}

.exclusive-services-shape img{ max-width:100%;  width:auto; height:auto}


.planet-2-orbit {
    position: absolute;
    top:87px;
    width: 460px;
    height: 460px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px dashed rgba(255, 255, 255, 0.5); margin-left:-230px; left:50%
}
.orbit-rocket {
    z-index: 9;
    position: absolute;
    top:320px;
    left: 50%;
    margin: -19px 0 0 -17px;
    -webkit-animation: rot-rocket 5s infinite linear;
    -moz-animation: rot-rocket 5s infinite linear;
    -o-animation: rot-rocket 5s infinite linear;
    animation: rot-rocket 5s infinite linear;
}


@-webkit-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-230px);
	-ms-transform:rotate(0) translateX(-230px);
	-webkit-transform:rotate(0) translateX(-230px);
	transform:rotate(0) translateX(-230px)
}
to {
	-moz-transform:rotate(360deg) translateX(-230px);
	-ms-transform:rotate(360deg) translateX(-230px);
	-webkit-transform:rotate(360deg) translateX(-230px);
	transform:rotate(360deg) translateX(-230px)
}

}
@-moz-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-230px);
	-ms-transform:rotate(0) translateX(-230px);
	-webkit-transform:rotate(0) translateX(-230px);
	transform:rotate(0) translateX(-230px)
}
to {
	-moz-transform:rotate(360deg) translateX(-230px);
	-ms-transform:rotate(360deg) translateX(-230px);
	-webkit-transform:rotate(360deg) translateX(-230px);
	transform:rotate(360deg) translateX(-230px)
}

}
@-o-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-230px);
	-ms-transform:rotate(0) translateX(-230px);
	-webkit-transform:rotate(0) translateX(-230px);
	transform:rotate(0) translateX(-230px)
}
to {
	-moz-transform:rotate(360deg) translateX(-230px);
	-ms-transform:rotate(360deg) translateX(-230px);
	-webkit-transform:rotate(360deg) translateX(-230px);
	transform:rotate(360deg) translateX(-230px)
}

}
@keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-230px);
	-ms-transform:rotate(0) translateX(-230px);
	-webkit-transform:rotate(0) translateX(-230px);
	transform:rotate(0) translateX(-230px)
}
to {
	-moz-transform:rotate(360deg) translateX(-230px);
	-ms-transform:rotate(360deg) translateX(-230px);
	-webkit-transform:rotate(360deg) translateX(-230px);
	transform:rotate(360deg) translateX(-230px)
}

}

@media only screen and (max-width:1050px) {
.yt_top_bg{min-height:460px;}
.main_box_ad{overflow: hidden; position:absolute; z-index:999; width:100%; float:left; margin-top:120px;}

.planet-2-orbit {
    position: absolute;
    top:87px;
    width: 280px;
    height: 280px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px dashed rgba(255, 255, 255, 0.5); margin-left:-140px; left:50%
}
.orbit-rocket {
    z-index: 9;
    position: absolute;
    top: 230px;
    left: 50%;
    margin: -19px 0 0 -17px;
    -webkit-animation: rot-rocket 5s infinite linear;
    -moz-animation: rot-rocket 5s infinite linear;
    -o-animation: rot-rocket 5s infinite linear;
    animation: rot-rocket 5s infinite linear;
}


@-webkit-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-140px);
	-ms-transform:rotate(0) translateX(-140px);
	-webkit-transform:rotate(0) translateX(-140px);
	transform:rotate(0) translateX(-140px)
}
to {
	-moz-transform:rotate(360deg) translateX(-140px);
	-ms-transform:rotate(360deg) translateX(-140px);
	-webkit-transform:rotate(360deg) translateX(-140px);
	transform:rotate(360deg) translateX(-140px)
}

}
@-moz-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-140px);
	-ms-transform:rotate(0) translateX(-140px);
	-webkit-transform:rotate(0) translateX(-140px);
	transform:rotate(0) translateX(-140px)
}
to {
	-moz-transform:rotate(360deg) translateX(-140px);
	-ms-transform:rotate(360deg) translateX(-140px);
	-webkit-transform:rotate(360deg) translateX(-140px);
	transform:rotate(360deg) translateX(-140px)
}

}
@-o-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-140px);
	-ms-transform:rotate(0) translateX(-140px);
	-webkit-transform:rotate(0) translateX(-140px);
	transform:rotate(0) translateX(-140px)
}
to {
	-moz-transform:rotate(360deg) translateX(-140px);
	-ms-transform:rotate(360deg) translateX(-140px);
	-webkit-transform:rotate(360deg) translateX(-140px);
	transform:rotate(360deg) translateX(-140px)
}

}
@keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-140px);
	-ms-transform:rotate(0) translateX(-140px);
	-webkit-transform:rotate(0) translateX(-140px);
	transform:rotate(0) translateX(-140px)
}
to {
	-moz-transform:rotate(360deg) translateX(-140px);
	-ms-transform:rotate(360deg) translateX(-140px);
	-webkit-transform:rotate(360deg) translateX(-140px);
	transform:rotate(360deg) translateX(-140px)
}

}

}




@media only screen and (max-width:740px) {
.yt_top_bg{min-height:380px;}
.main_box_ad{overflow: hidden; position:absolute; z-index:999; width:100%; float:left; margin-top:120px;}

.planet-2-orbit {
    position: absolute;
    top:87px;
    width: 220px;
    height: 220px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px dashed rgba(255, 255, 255, 0.5); margin-left:-110px; left:50%
}
.orbit-rocket {
    z-index: 9;
    position: absolute;
    top: 200px;
    left: 50%;
    margin: -19px 0 0 -17px;
    -webkit-animation: rot-rocket 5s infinite linear;
    -moz-animation: rot-rocket 5s infinite linear;
    -o-animation: rot-rocket 5s infinite linear;
    animation: rot-rocket 5s infinite linear;
}


@-webkit-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-110px);
	-ms-transform:rotate(0) translateX(-110px);
	-webkit-transform:rotate(0) translateX(-110px);
	transform:rotate(0) translateX(-110px)
}
to {
	-moz-transform:rotate(360deg) translateX(-110px);
	-ms-transform:rotate(360deg) translateX(-110px);
	-webkit-transform:rotate(360deg) translateX(-110px);
	transform:rotate(360deg) translateX(-110px)
}

}
@-moz-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-110px);
	-ms-transform:rotate(0) translateX(-110px);
	-webkit-transform:rotate(0) translateX(-110px);
	transform:rotate(0) translateX(-110px)
}
to {
	-moz-transform:rotate(360deg) translateX(-110px);
	-ms-transform:rotate(360deg) translateX(-110px);
	-webkit-transform:rotate(360deg) translateX(-110px);
	transform:rotate(360deg) translateX(-110px)
}

}
@-o-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-110px);
	-ms-transform:rotate(0) translateX(-110px);
	-webkit-transform:rotate(0) translateX(-110px);
	transform:rotate(0) translateX(-110px)
}
to {
	-moz-transform:rotate(360deg) translateX(-110px);
	-ms-transform:rotate(360deg) translateX(-110px);
	-webkit-transform:rotate(360deg) translateX(-110px);
	transform:rotate(360deg) translateX(-110px)
}

}
@keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-110px);
	-ms-transform:rotate(0) translateX(-110px);
	-webkit-transform:rotate(0) translateX(-110px);
	transform:rotate(0) translateX(-110px)
}
to {
	-moz-transform:rotate(360deg) translateX(-110px);
	-ms-transform:rotate(360deg) translateX(-110px);
	-webkit-transform:rotate(360deg) translateX(-110px);
	transform:rotate(360deg) translateX(-110px)
}

}

}




@media only screen and (max-width:500px) {
.yt_top_bg{min-height:330px;}
.main_box_ad{overflow: hidden; position:absolute; z-index:999; width:100%; float:left; margin-top:100px;}


.planet-2-orbit {
    position: absolute;
    top:67px;
    width:160px;
    height: 160px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px dashed rgba(255, 255, 255, 0.5); margin-left:-80px; left:50%
}


.orbit-rocket {
    z-index: 9;
    position: absolute;
    top:150px;
    left: 50%;
    margin: -19px 0 0 -17px;
    -webkit-animation: rot-rocket 5s infinite linear;
    -moz-animation: rot-rocket 5s infinite linear;
    -o-animation: rot-rocket 5s infinite linear;
    animation: rot-rocket 5s infinite linear;
}

.yun-icon img{ width:20px; height:auto;}


@-webkit-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-80px);
	-ms-transform:rotate(0) translateX(-80px);
	-webkit-transform:rotate(0) translateX(-80px);
	transform:rotate(0) translateX(-80px)
}
to {
	-moz-transform:rotate(360deg) translateX(-80px);
	-ms-transform:rotate(360deg) translateX(-80px);
	-webkit-transform:rotate(360deg) translateX(-80px);
	transform:rotate(360deg) translateX(-80px)
}

}
@-moz-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-80px);
	-ms-transform:rotate(0) translateX(-80px);
	-webkit-transform:rotate(0) translateX(-80px);
	transform:rotate(0) translateX(-80px)
}
to {
	-moz-transform:rotate(360deg) translateX(-80px);
	-ms-transform:rotate(360deg) translateX(-80px);
	-webkit-transform:rotate(360deg) translateX(-80px);
	transform:rotate(360deg) translateX(-80px)
}

}
@-o-keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-80px);
	-ms-transform:rotate(0) translateX(-80px);
	-webkit-transform:rotate(0) translateX(-80px);
	transform:rotate(0) translateX(-80px)
}
to {
	-moz-transform:rotate(360deg) translateX(-80px);
	-ms-transform:rotate(360deg) translateX(-80px);
	-webkit-transform:rotate(360deg) translateX(-80px);
	transform:rotate(360deg) translateX(-80px)
}

}
@keyframes rot-rocket {
	from {
	-moz-transform:rotate(0) translateX(-80px);
	-ms-transform:rotate(0) translateX(-80px);
	-webkit-transform:rotate(0) translateX(-80px);
	transform:rotate(0) translateX(-80px)
}
to {
	-moz-transform:rotate(360deg) translateX(-80px);
	-ms-transform:rotate(360deg) translateX(-80px);
	-webkit-transform:rotate(360deg) translateX(-80px);
	transform:rotate(360deg) translateX(-80px)
}

}


}



@media only screen and (max-width:420px) {
.yt_top_bg{min-height:280px;}

}

@media only screen and (max-width:400px) {
.yt_top_bg{min-height:260px;}

}




/*-----------------*/


.m_d_btn_bok{ overflow:hidden; margin:0px; padding:0px; position: absolute; z-index:99999; bottom:50px; float:left; width:100%}


.wap_top_down_k{margin:0px; padding:0px;display: none; position:fixed; bottom:0px; z-index:9999; text-align:center; background:#00000040; width:100%; padding:8px 0px}
.wap_top_down_k li{margin:0px; padding:0px; width:50%; margin:0 auto}
.wap_top_down_k li a{ line-height:34px; color:#fff; text-decoration:none; display:inline}

.cp_top_down_k{height:auto; margin:0px; padding:0px;max-width:1200px; width:94%; margin:0 auto; overflow:hidden;margin-bottom:60px}
.cp_top_down_k li{ float:left; margin:0px; padding:0px; width:20%; }
.cp_top_down_k li a{ line-height:34px; color:#007fea; text-decoration:none}
.cp_top_down_k li:hover a{color:#0067da;}

.cp_top_down_k li dl{ margin:0px; padding:40px 0px; overflow:hidden; text-align: center}
.cp_top_down_k li dl dt{ margin:0px; padding:0px;overflow:hidden}
.cp_top_down_k li dl dd{ margin:0px; padding:0px;overflow:hidden; font-size:14px; margin-top:5px}
.cp_top_down_k li dl dd  .xzk{ width:100px; height:30px; line-height:30px;border-radius:30px; border:#18acff 1px  solid; background:#fff; text-align:center; color:#18acff; margin:0 auto;}
.cp_top_down_k li dl dt h3{ font-size:18px; line-height:40px; margin:0px;}

.cp_top_down_k li dl:hover dd .xzk {color:#fff; background:#ff9900; border:#ff9900 1px  solid}
.cp_top_down_k li dl:hover i{ color:#0033CC} 

.Btn_down_1{ width:160px; height:60px; border-radius:6px; text-align:center; line-height:60px; font-size:18px; color:#fff;background:#01a1ff}
.Btn_down_1 i{ font-size:26px; margin-right:4px; height:60px;}


.Btn_down_2{ width:160px; height:50px; border-radius:50px; text-align:center; line-height:50px; font-size:18px;color:#fff;background:#01a1ff;box-shadow:0 0 10px 1px rgba(0,0,0,.2)}
.Btn_down_2 i{ font-size:20px; margin-right:4px; line-height:34px; height:34px; vertical-align:middle}



@media only screen and (max-width:1050px) {
.Btn_down_1{ width:120px; height:40px; border-radius:40px; text-align:center; line-height:40px; font-size:14px;box-shadow:0 0 15px 1px rgba(0,0,0,.1); margin:0 auto }
.Btn_down_1 i{ font-size:20px; margin-right:2px; height:34px;}

.wap_top_down_k{ display: block; width:100%}
.wap_top_down_k  li{ text-align:center; width:100%; margin:0 auto}

.cp_top_down_k{ display:none}
}









/*-----------------*/

.sy_ys_L{ overflow:hidden; margin:0px; padding:0px; float:left; width:55%;}
.sy_ys_R{ overflow:hidden; margin:0px; padding:0px; float: right; width:43%;}
.sy_ys_R img{ max-width:100%; height:auto; vertical-align:top}


.sy_ys_L dl{overflow:hidden; margin:0px; padding:0px; margin-bottom:15px}
.sy_ys_L dl dt{overflow:hidden; margin:0px; padding:0px; font-size:24px; line-height:190%; color:#000; font-weight:600 }
.sy_ys_L dl dd{overflow:hidden; margin:0px; padding:0px; line-height:16px; line-height:28px; color:#666}



@media only screen and (max-width:1200px) {
.sy_ys_L dl dd{overflow:hidden; margin:0px; padding:0px;font-size:14px; line-height:24px; color:#666666}
.sy_ys_L dl{overflow:hidden; margin:0px; padding:0px; margin-bottom:12px}
.sy_ys_L dl dt{overflow:hidden; margin:0px; padding:0px; font-size:22px; line-height:30px;}
}


@media only screen and (max-width:1000px) {
.sy_ys_L dl dt{ font-size:20px}
.sy_ys_L{ overflow:hidden; margin:0px; padding:0px; float: none; width:100%;}
.sy_ys_R{ overflow:hidden; margin:0px; padding:0px; float: none; width:70%; margin:0 auto; margin-bottom:20px}
}




.xigtnjd {

	margin: 0 auto;
	animation: myfirst 2s infinite;
}
 @keyframes myfirst {
0% {
 transform: translate(0px, 0px);
}
 50% {
 transform: translate(0px, -10px);
}
 100% {
 transform: translate(0px, 0px);
}
}



.sy_tdlist{ margin:0px; padding:0px; overflow:hidden}

.sy_tdlist li{ margin:0px; padding:0px; overflow:hidden; width:33.3333%; float:left}

.sy_tdlist li dl{ margin:20px 15px; padding:50px 40px 30px 40px; overflow:hidden; background:#fff;box-shadow: 0 10px 30px -10px rgba(0,64,128,.2); border-radius: 5px; border:#f6f6f6 1px solid; min-height:410px}
.sy_tdlist li dl dt{ margin:0px; padding:0px; overflow:hidden;  margin-bottom:10px; text-align:center}
.sy_tdlist li dl dt img{ width:130px; height:auto;}
.sy_tdlist li dl dt h3{font-size:20px; line-height:30px; color:#222;margin:0px; padding:0px; }
.sy_tdlist li dl dd{ margin:0px; padding:0px; overflow:hidden; font-size:14px; line-height:26px; color:#666666}


.sy_bg1{background:url(../img/partner-shape.png) no-repeat  left top; background-size:auto; padding-top:0px}
.sy_bg2{background:url(../img/pricing-shape.png) no-repeat  right center; background-size:auto; padding-top:0px}



@media only screen and (max-width:1050px) {
.sy_tdlist li dl{ margin:20px 15px;padding:20px 20px 20px 20px; }
}

@media only screen and (max-width:920px) {
.sy_tdlist li dl{ margin:20px 15px;padding:20px 20px 20px 20px; }
.sy_tdlist li dl dt img{ width:100px; height:auto;}

.sy_tdlist li dl dt h3{font-size:18px; line-height:24px; }
.sy_tdlist li dl dd{font-size:14px; line-height:26px;}
}


@media only screen and (max-width:830px) {
.sy_tdlist li dl dd{font-size:12px; line-height:24px;}
}

@media only screen and (max-width:750px) {
.sy_tdlist li dl{ margin:20px 15px;padding:20px 20px 20px 20px;min-height:20px; height:auto }
.sy_tdlist li{ margin:0px; padding:0px; overflow:hidden; width:100%; float:left;}
.sy_tdlist li dl dd{font-size:14px; line-height:24px;}
}








.yt_map_bg{background:url(../img/map-bg.png) no-repeat center; background-size:cover;}

.policy {
  width: 100%;
  height: 550px;
  position: relative;
}



@media only screen and (max-width:1050px) {
.policy { margin-top:90px}
}

.po_box {
  width: 515px;
  height: 515px;
  border: 1px solid #2db8fd;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: url("../img/yt.png") center center no-repeat;
  background-size:cover
}

.po_box ul li {
  position: absolute;
  width: 450px;
  height: auto;
  top: 50%;
  overflow: hidden;
}

.po_box ul li .num {
  width: 80px;
  height: 80px;
  background: #01a1ff;
  color: #fff;
  line-height: 80px;
  text-align: center;
  font-size: 40px;
  border-radius: 50%;
  float: left;
  font-family: Arial, Helvetica, sans-serif; font-weight:bold
}
.po_box ul li:hover{ cursor:pointer}
.po_box ul li:hover .num{background: #ff9100;}
.po_box ul li:hover  .txt b{ color:#01a1ff}
.po_box ul li .txt {
  width: calc(100% - 80px);
  height: auto;
  float: left;
  margin-top: 0px;
}

.po_box ul li:nth-child(1) .num,
.po_box ul li:nth-child(2) .num,
.po_box ul li:nth-child(3) .num {
  float: right;
}

.po_box ul li:nth-child(1) .txt,
.po_box ul li:nth-child(2) .txt,
.po_box ul li:nth-child(3) .txt {
  text-align: right;
  padding-right: 20px;
}

.po_box ul li:nth-child(4) .txt,
.po_box ul li:nth-child(5) .txt,
.po_box ul li:nth-child(6) .txt {
  padding-left: 20px;
}

.po_box ul li .txt b {
  display: block;
  font-size: 20px;
  line-height:1.5;
  font-weight:600;
}

.po_box ul li .txt p {
  display: block;
  font-size: 14px;
  opacity: .7;
}

.po_box ul li:nth-child(1) {
  left: -300px;
  transform: translateY(-300%);
}

.po_box ul li:nth-child(2) {
  left: -410px;
  transform: translateY(-50%);
}

.po_box ul li:nth-child(3) {
  left: -300px;
  transform: translateY(200%);
}

.po_box ul li:nth-child(4) {
  right: -300px;
  transform: translateY(200%);
}

.po_box ul li:nth-child(5) {
  right: -410px;
  transform: translateY(-50%);
}

.po_box ul li:nth-child(6) {
  right: -300px;
  transform: translateY(-300%);
}



@media screen and (max-width:1024px) {
.po_box {
    width: 400px;
    height: 400px;
  }

  .po_box ul li {
    width: 400px;
  }

  .po_box ul li:nth-child(2) {
    left: -370px;
  }

  .po_box ul li:nth-child(5) {
    right: -370px;
  }
  
   }
  
@media screen and (max-width:768px) {
  
  
   .po_box {
    width: 100%;
    height: auto;
    background: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 0;
    border: 0;
    transform: translate(0,0);
  }

  .po_box ul li {
    width: 100%;
    left: 0!important;
    transform: translateY(0)!important;
    position: relative;
    top: 0;
    display: flex;
  }

  .po_box ul li .num {
    float: none!important;
  }

  .po_box ul li .txt {
    float: none!important;
    padding: 0 20px;
    text-align: left!important;
  }

  .po_box ul li+li {
    margin-top:2px;
  }

  .policy {
    height: auto;
    margin-top:90px;
  }
.po_box ul li .txt b {
  display: block;
  font-size:16px;
 } 
 
 }
 
 
 @media screen and (max-width:767px) {
  .po_box ul li .num {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
  }
 }
 
 

/*-------------------*/


.page2_bg{padding-top:10px}

.jc_bt{ overflow:hidden; margin:0px; padding:0px; line-height:160%; font-size:22px; color:#fff; font-weight:700; text-align:center; margin-bottom:10px}

.axjc_box{text-align: center; list-style:none; margin:0px; padding:0px;width: 160px; margin: 0 auto;}
.axjc_box a{ display:inline; line-height:40px; text-decoration:none}
.ios_azbox{margin:0px; padding:0px;overflow:hidden;font-size:16px; color:#ffffff; font-weight:300; text-align: center;line-height:52px;background:#01a1ff;border-radius:50px;  height: 52px}
.ios_azbox i{ margin-right:5px; font-size:24px; color:#ffffff;  vertical-align:middle; margin-top:-6px}
.ios_azbox span {margin:0px; padding:0px; margin-right:10px}
.ios_azbox span img{width:26px; height:26px; vertical-align:middle; }





.yt_td_bg{background:url(../img/img-1.jpg) no-repeat center; background-size:cover;}

.m_bt_tilte{ overflow:hidden; text-align:center; padding:0px 0px  40px 0px; margin:0px}
.m_bt_tilte h3{font-size:36px; margin:0px; padding:0px; color:#222; text-align:center;font-weight:700; line-height:170%; padding-bottom:10px;
background:url(../img/bt_line.png) no-repeat center  bottom; margin-bottom:15px}
.m_bt_tilte p{font-size:14px; line-height:22px; margin:0px; padding:0px; color:#666; text-align:center;text-transform:uppercase;}


.yt_n_bg{background:#edf1fb url(../img/nr_bg.png) no-repeat  center top; background-size:100% auto}



.banner_txt{ overflow:hidden; margin:0px; padding:0px; position:relative; min-height:300px}

@media only screen and (max-width:1500px) {
.banner_txt{ overflow:hidden; margin:0px; padding:0px; position:relative; min-height:200px}
}

@media only screen and (max-width:1100px) {
.banner_txt{ overflow:hidden; margin:0px; padding:0px; position:relative; min-height:160px}
}

@media only screen and (max-width:880px) {
.banner_txt{ overflow:hidden; margin:0px; padding:0px; position:relative; min-height:120px}
}
@media only screen and (max-width:690px) {
.banner_txt{ overflow:hidden; margin:0px; padding:0px; position:relative; min-height:100px}
}
@media only screen and (max-width:600px) {
.banner_txt{ overflow:hidden; margin:0px; padding:0px; position:relative; min-height:80px}

.yt_n_bg{background:#edf1fb url(../img/nr_bg.png) no-repeat  center top; background-size:160% auto}
}




.m_bt_tilte1{ overflow:hidden; text-align:center; padding:0px 0px  px 0px; margin:0px; position:absolute; z-index:8;top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(0,-50%);
transform: translateY(-50%); width:100%;}
.m_bt_tilte1 h3{font-size:30px; margin:0px; padding:0px; color:#fff; text-align:center;font-weight:700; line-height:170%; font-weight:500}
.m_bt_tilte1 p{font-size:18px; line-height:24px; margin:0px; padding:0px; color:#eee; text-align:center;text-transform:uppercase;}


@media only screen and (max-width:1100px) {
.m_bt_tilte{ overflow:hidden; text-align:center;}
.m_bt_tilte h3{font-size:26px; line-height:36px;  text-align:center}
.m_bt_tilte1 p{font-size:16px}

.m_bt_tilte1{ overflow:hidden; text-align:center;}
.m_bt_tilte1 h3{font-size:26px; line-height:36px;  text-align:center}


.yt_td_bg{background:url(../img/img-1.jpg) no-repeat left top; background-size:cover;}
}

@media only screen and (max-width:600px) {
.m_bt_tilte1 h3{font-size:20px; line-height:22px}
.m_bt_tilte1 p{font-size:14px}
}


.sq_btn1{text-align: center;width:200px; margin:0 auto; margin-top:50px}
.sq_btn1 a{ display: block;text-align: center;background-color: #ffd200;border-radius:50px;color: #fff;padding:1px 0;font-size:18px; line-height:50px;box-shadow:0 0 5px 1px rgba(0,0,0,.1);
background:#ff9000; 
background: -webkit-linear-gradient(45deg, #134fd9, #2383ef);
background: -o-linear-gradient(45deg, #134fd9, #2383ef); 
background: -moz-linear-gradient(45deg, #134fd9, #2383ef); 
background: linear-gradient(45deg, #134fd9, #2383ef);text-decoration:none}

.sq_btn1 a:hover{
background: -webkit-linear-gradient(45deg, #2383ef, #6623ef);
background: -o-linear-gradient(45deg, #2383ef, #6623ef); 
background: -moz-linear-gradient(45deg, #2383ef, #6623ef); 
background: linear-gradient(45deg, #2383ef, #6623ef);box-shadow:0 0 10px 1px rgba(0,0,0,.1); color:#FFFFFF
}
@media only screen and (max-width:1050px) {
.sq_btn1{ display:none}
}







.actGotop{position:fixed;_position:absolute;bottom:90px;right:2%;width:40px;height:40px;display:none; z-index:9999}
.actGotop a,.actGotop a:link{width:40px;height:40px;display:inline-block; text-align:center; background: url(../img/up.png) no-repeat center; background-size:cover;}
.actGotop a:hover{ background:url(../img/up.png) no-repeat center;outline:none; background-size:cover;}


.down_bg{ background:#232350; padding:30px 10px; }


.down_info{overflow:hidden; margin:0px; padding:0px; max-width:530px; margin:0 auto}

.d_logo{ float: left; margin-right:20px; margin-top:15px}
.d_logo img{ height:45px; width:auto}
.down_info dl{overflow:hidden; margin:0px; padding:0px; border-left:#4242a1 1px solid; padding-left:20px}
.down_info dl dd{overflow:hidden; margin:0px; padding:0px;line-height:24px; color:#fff; font-size:12px}
.down_info dl dd a{font-size:14px;margin-right:10px; color:#ffffff ;text-decoration:none}
.down_info dl dd a:hover{ color:#ffc000; }

.x_icon{ color:#ffffff; }
.x_icon i{ font-size:24px; margin:0px 5px 0px 0px;}


.fixedMenu{overflow:hidden; width:100%; padding:0px;z-index:9999900; bottom:0; position:fixed;_position:absolute; display:none; text-align:center;bottom:0px; }
.fixedMenu1{ display:none;overflow:hidden; width:100%; padding:0px;z-index:9999900; bottom:0; position:fixed;_position:absolute;text-align:center;bottom:0px; }

@media only screen and (max-width:1050px) {
.down_bg{  padding:30px 10px 70px 10px;}
.fixedMenu1{ display: block}
}

@media only screen and (max-width:530px) {
.d_logo{ float: none; margin-right:0px; margin-top:0px; text-align:center}
.down_info dl{overflow:hidden; margin:0px; padding:0px; border-left:#5f55c5 0px solid; padding-left:0px; text-align:center; margin-top:10px}
}





.Btn_back_box {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    max-width:1000px;
    width: 92%;
    margin: 0 auto;}


.Btn_back{height:30px; line-height:36px; font-size:14px; margin-top:5px; color:#333; width:100px; float:right; background:#fff; height:36px; text-align:center; margin-right:1px;z-index:2;  position:relative}
.Btn_back i{ font-size:18px; margin-right:2px; line-height:30px ;vertical-align:middle}


.nr_logo_bg{background:#13133750; padding:5px 0px;}

.t_nav{ float:right; line-height:46px; color:#FFFFFF}
.t_nav a{ color:#FFFFFF; font-size:16px}
.yt_top_logo{overflow:hidden; margin:0px; padding:0px; float:left; width:auto }
.yt_top_logo img{ width:auto; height:46px; vertical-align:top}
@media only screen and (max-width:1050px) {
.t_nav{ line-height:40px;}
.yt_top_logo img{ width:auto; height:40px; vertical-align:top}
}













.nr_box {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    max-width:1300px;
    width: 92%;
    margin: 0 auto;
    background: #edf1fb;
    position: relative;
    border-radius: 5px;
}
.ConRtitle_k{width:120px; margin:0 auto; text-align:center}
.ConRtitle{font-size: 30px; color: #005fc9; font-weight: bold; padding-bottom:6px; display: inline-block;margin-bottom:30px; text-align:center}







.sy_ys2{overflow:hidden; margin:0px; padding:0px}
.sy_ys2 dl{overflow:hidden; margin:0px; padding:0px}
.sy_ys2 dl dt{overflow:hidden; margin:0px; padding:0px;font-size:20px; font-weight:600; color:#000000}
.sy_ys2 dl dd{overflow:hidden; margin:0px; padding:0px; font-size:14px; line-height:24px; color:#666; margin-bottom:15px}

.sy_ys2_tu{  float:right; width:48%; margin:0px; padding:0px; overflow:hidden; margin-left:2%; text-align: right;}
.sy_ys2_tu img{ max-width:100%; height:auto; width:auto;}


@media only screen and (max-width:1100px) {
.sy_ys2 dl dt{overflow:hidden; margin:0px; padding:0px;font-size:18px; font-weight:700; color:#000000}
.sy_ys2_tu{  float:right; width:45%; margin:0px; padding:0px; overflow:hidden; margin-left:2%; text-align: right;}
}




@media only screen and (max-width:760px) {
.sy_ys2_tu{ width:80%; float:none;margin-left:0%; text-align:center; margin=top:0; margin:0 auto; margin-bottom:25px}
}








.txt_b{ font-weight:700; color:#005fc9}
.txt_b a{ color:#005fc9}

.main_cont_k{ overflow:hidden; padding:0px; margin:0px; max-width:1000px; width:92%; margin:0 auto}

.content_txt{line-height:190%; color:#333333; font-size:16px; overflow:hidden; padding:0px 0px 10px 0px;}
.content_txt p{line-height:190%; color:#333333; font-size:16px; overflow:hidden;}
.content_txt img{MAX-WIDTH: 100%!important;HEIGHT: auto!important;}
@media (max-width: 1400px) {
.content_txt{line-height:190%; color:#333333; font-size:14px; overflow:hidden; padding:0px 0px 10px 0px;}
.content_txt p{line-height:190%; color:#333333; overflow:hidden; font-size:14px; }
}





.hzdl{ overflow:hidden; padding:0px; margin:0px; }
.hzdl li{ overflow:hidden; padding:0px; margin:0px; padding:10px 0px ; border-bottom:#CCCCCC 1px  dashed;}
.hzdl li dl{ overflow:hidden; padding:0px 0px; margin:0px; margin:0 auto;}
.hzdl li dl dt{ overflow:hidden; padding:0px; margin:0px; margin-top:40px}
.hzdl li dl dt img{ width:170px; height:auto; vertical-align:top;transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;}
.hzdl li dl dt h3{ overflow:hidden; padding:0px; margin:0px; font-size:22px; font-weight:500; line-height:34px; margin-bottom:5px; }
.hzdl li dl dd{ overflow:hidden; padding:0px; margin:0px;font-size:14px; font-weight:400; list-style:26px;color:#666666;}

.hzdl_tu{ float:left;width:100px; height:auto}
.hzdl_tu img{ width:100px; height:auto; vertical-align:top;transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;}


.hzdl li:hover .hzdl_tu img{animation: tada 2s infinite;}
.hzdl li:hover dl dt h3{ color:#005fc9}

.hzdl li:last-child{ border-bottom:#CCCCCC 0px  dashed;}
@media (max-width: 600px) {
.hzdl_tu{ float:left;width:120px; height:auto}
.hzdl_tu img{ width:120px; height:auto; vertical-align:top;transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;}
.hzdl li dl dt{ overflow:hidden; padding:0px; margin:0px; margin-top:20px}

}


/*-----------index-//------------*/


.wap_top_down_k1{margin:0px; padding:0px;display: none; width:160px}
.wap_top_down_k1 li{margin:0px; padding:0px; text-align:center}
.wap_top_down_k1 li a{ line-height:34px; color:#fff; text-decoration:none; display:inline}



@media only screen and (max-width:1050px) {
.wap_top_down_k1{ display: block; margin:0 auto}
.wap_top_down_k1 li{ width:160px; margin:0 auto;margin-top:10px; margin-bottom:10px}
}








